[Unit]
Description=Safenode Cloud Subscriber - MQTT Data Receiver & JSONL Writer
After=network-online.target mosquitto.service
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/nomad/Safenode-EdgeSystem/Cloud
ExecStart=/usr/bin/python3 /home/nomad/Safenode-EdgeSystem/Cloud/CloudSubscriber.py
Restart=always
RestartSec=10

Environment="PYTHONUNBUFFERED=1"

MemoryMax=1G
CPUQuota=100%

StandardOutput=append:/var/log/CloudServices/CloudSubscriber.log
StandardError=append:/var/log/CloudServices/CloudSubscriber.log

[Install]
WantedBy=multi-user.target
